body {
    font-family: 'Lora', serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: beige;
}

.navbar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 20px;
    padding: 25px 0px;
    background-color: #1d5b6f;
}

.logo {
    margin-left: 20px;
}

.textbox h2 {
    font-size: 3rem;
}

.textbox p {
    font-size: 1.3rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
}

.title {
    display: flex;
    justify-content: space-around;
    background-color: #1575a1;
}

.title button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #212529;
}

.title button:hover {
    background: #fff;
    color: #212529;
}

.main-img {
    height: 250px;
    width: 300px;
    margin: 10px;
}

.main-img img {
    width: 300px;
}

.keycaps {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-top: 20px;
    background-color: #484131;
}

.keycaps img {
    border: 5px rgb(245, 241, 7) solid;
    border-radius: 25%;
}

.caps {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caps h2 {
font-size: 25px;
}

.caps p {
    font-size: 1.3rem;
}

img {
    height: 250px;
    width: 250px;
}

.header {
    text-align: center;
    font-size: 35px;
    background-color: #484131;
}

.quote-section {
    display: flex;
    flex-direction: column;
    padding: 128px 192px 92px;
    background-color: #659eb5;
}

.quote {
    padding: 0 200px;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: oblique;
}

b {
    text-align: right;
    padding-bottom: 20px;
    padding-right: 10px;
    font-size: 27px;
}

.store-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 300px;
    padding: 10px 80px;
    background-color: #30a2d2;
    border-radius: 10px;
}

.store-page button {
    padding: 5px 25px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #212529;
}

.store-page button:hover {
    background: #fff;
    color: #212529
}

footer {    
    text-align: center;
    background-color: #1d5b6f;
    padding: 3px;
}